@import "reset.css";
body {
    background-color:#080A0E;
    overflow-x: hidden;
  }

@font-face {
    font-family: 'Mint Spirit',;
    src: url('../fonts/MintSpirit-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: bold;
}

@font-face {
    font-family: 'Liter',;
    src: url('../fonts/Liter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Mint Spirit';
    color: #FFFFFF;
    font-size: 72px;
    line-height: 152.8%;
    letter-spacing: 0.12em;
}

h2 {
    font-family: 'Mint Spirit';
    font-size: 48px;
    letter-spacing: 0.12em;
    line-height: 152.8%;
    color: #FFFFFF;
}

p {
    font-family: 'Liter';
    color: #FFFFFF;
    line-height: 152.8%;
    letter-spacing: 0.12em;
}


.d1 {
    display: flex;
    align-items: center;
    padding-top: 5vw;
    padding-left: 14vw;
}

.item {
    padding-left: 10vw;
}

.item p {
    width: 40vw;
}

.header h1 {
    padding-bottom: 2vw;
}

.header p {
    line-height: 152.8%;
    font-size: 18px;
    color: #DCFFE6;
}

.header {
    background-image: url(../pictures/upper.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 100vw;
}

.logo {
    padding: 5vw 0 0 5vw;
}

.products {
    height: 70vw;
    margin-top: 24vw;
    padding-left: 14vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: right;
    padding-right: 3vw;
    background-image: url(../pictures/yabloko.svg);
    background-position-y: -35vw;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.product {
    width: 50%;
    padding-right: 3vw;
}
.bottle img{
    margin-top: -7vw;
    
}

.arrow1 {
    justify-content: center;
    padding-top: 6vh;
}

.arrowLeft {
    margin-right: 1vw;
    padding-bottom: 0.7vw;

}

.arrowRight {
    padding-bottom: 0.7vw;
}

.name {
    margin-top: 0.7vw;
}

.text {
    color: #FFDCB3;
    margin-top: 1.4vw;
}

.about {
    font-size: 14px;
    margin-top: 2vw;
    color: #D5D5D5;
}

footer {
    display: flexbox;
    padding-left: 20%;
    padding-bottom: 1%;
}

footer h1 {
    padding-bottom: 2.8vw;

}

footer p {

    font-size: 24px;
    line-height: 192.8%;
}

.phone {
    display: flex;
    padding-right: 2vw;
    padding-bottom: 0.5vw;
}

.mail {
    display: flex;
    padding-right: 1.4vw;
}

.info {
    text-align: center;
    margin-right: 14%;
    font-size: 18px;
    padding-bottom: 1vw;
    padding-top: 14vw;
}

a {
    color: #FFFFFF;
    font-family: 'Liter';
    text-decoration: none;
    line-height: 152.8%;
    letter-spacing: 0.12em;
    font-size: 24px;
}

@media screen and (max-width: 1440px) {

    .d1 {
        padding-left: 6vw;
    }

    .products {
        background-position-y: -33vw;
    }
    
}

@media screen and (max-width: 1366px) {

    .d1 {
        padding-top: 3vw;
    }
}

@media screen and (max-width: 1280px) {

    h1 {
        font-size: 48px;
    }

    .d1 p {
        font-size: 14px;
    }
    
    .item p {
        width: 40vw;
    }

    .group {
        width: 34vw;
    }

    .products h1 {
        font-size: 36px;
    }

    .text {
        font-size: 14px;
    }

    .about {
        font-size: 12px;
    }

}

@media screen and (max-width: 1024px) {

    .products {
        background-position-y: -10vw;
        height: 1000px;
    }

    .name {
        font-size: 36px;
    }

    .text {
        font-size: 13px;
    }

    .about {
        font-size: 11px;
    }

    footer p {
        font-size: 14px;
    }

    .phone {
        padding-right: 1.5vw;
    }

    .phone Img {
        width: 2vw;
    }

    .mail Img {
        width: 2vw;
    }

    .info {
        font-size: 13px;
    }
}

@media screen and (max-width: 768px) {

    h1 {
        font-size: 48px;
    }

    .header {
        padding-bottom: 40vw;
    }

    .logo {
        width: 11.5vw;
    }

    .group {
        width: 36vw; 
    }

    .d1 {
        padding-top: 16vw;
        padding-left: 3vw;
    }

    .d1 p {
        font-size: 13px;
        padding-right: 1.25vw;
        width: 50vw;
    }

    .item {
        padding-left: 7vw;
    }

    .bottle img {
        width: 20vw;
    }


}

@media screen and (max-width: 414px) {

    .logo {
        width:26.667vw;
        padding-left: 7vw;
    }

    .group {
        display: none;
    }

    .d1 {
        padding-top: 30vw;
        padding-left: 0vw;
    }

    .item h1 {
        padding-bottom: 10vw;
        font-size: 28px;
    }

    .item p {
        width: 84vw;
        font-size: 12px;
    }

    .arrow1 {
        padding-top: 20vw;
        padding-left: 36vw;
        padding-bottom: 24vw;
    }

    .products {
        justify-content: left;
        text-align: left;
        padding-left: 10vw;
        background-position-x: -70vw;
        background-position-y: -19vw;
        padding-bottom: 0vw;
        
    }

    .bottle img {
        width: 26vw;
    }

    .product {
        width: 60vw;
    }

    .name {
        font-size: 24px;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }

    .text {
        font-size: 12px;
        padding-bottom: 4vw;
    }

    .about {
        font-size: 10px;
    }

    footer {
        padding-left: 10vw;
        padding-top: 0;
    }

    footer h1 {
        font-size: 28px;
    }

    footer p {
        font-size: 18px;
    }

    a {
        font-size: 18px;
    }
}

@media screen and (max-width: 375px) {


    h1 {
        font-size: 24px;
    }
    
    h2 {
        font-size: 24px;

    }

    .d1 {
        padding-top: 16vw;
        padding-left: 0vw;
    }

    .header p {
        font-size: 12px;
    }
    
    .arrow1 {
        padding-top: 16vw;
    }

    .products {
        padding-top: 20vw;
        height: 244vw;

    }

    .bottle {
        padding-top: 10vw;
    }

    .text {
        font-size: 10px;
    }

    .about {
        font-size: 8px;
    }

    a {
   
    }

}
      