@import "reset.css";
body {
    background-color:#080A0E;
  }

@font-face {
    font-family: 'Mint Spirit',;
    src: url('../fonts/MintSpirit-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: bold;
}

@font-face {
    font-family: 'Liter',;
    src: url('../fonts/Liter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Mint Spirit';
    color: #FFFFFF;
    font-size: 72px;
    line-height: 152.8%;
    letter-spacing: 0.12em;
}

h2 {
    font-family: 'Mint Spirit';
    font-size: 48px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
}

p {
    font-family: 'Liter';
    color: #FFFFFF;
    letter-spacing: 0.12em;
}

span {
    font-family: 'Liter';
    color: #FFFFFF;
    font-size: 18px;
    letter-spacing: 0.12em;
}

.d1 {
    display: flex;
    align-items: center;
}

.item p {
    width: 620px;
}

.header h1 {
    padding-bottom: 30px;
}

.header p {
    line-height: 152.8%;
    font-size: 18px;
    color: #DCFFE6;
}

.header {
    background-image: url(../pictures/upper.svg);
    background-repeat: no-repeat;
    background-position-x: right;
}

.logo {
    padding: 5vw 0 0 5vw;
}

.products {
    height: 1100px;
    margin-top: 350px;
    padding-left: 200px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: right;
    padding-right: 50px;
    background-image: url(../pictures/yabloko.svg);
    background-position-y: -500px;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.product {
    width: 50%;
    padding-right: 50px;
}
.bottle img{
    margin-top: -100px;
    
}

.arrow1 {
    margin-left: 41vw;
    justify-content: center;
}

.arrowLeft {
    margin-right: 15px;
    padding-bottom: 10px;

}

.arrowRight {
    padding-bottom: 10px;
}

.name {
    margin-top: 10px;
}

.text {
    color: #FFDCB3;
    margin-top: 20px;
}

.about {
    font-size: 14px;
    margin-top: 30px;
}

footer {
    display: flexbox;
    padding-left: 20%;
    padding-bottom: 10%;
}

footer h1 {
    padding-bottom: 40px;

}

footer p {

    font-size: 24px;
    line-height: 192.8%;
}

.phone {
    display: flex;
    padding-right: 2vw;
}

.mail {
    display: flex;
    padding-right: 1.4vw;
}

.info {
    text-align: center;
    margin-right: 14%;
    font-size: 18px;
    padding-bottom: 3vw;
}

@media screen and (max-width: 375px) {

    .logo {
        width:26.667vw;
    }

    .group {
        display: none;
    }

    h1 {
        font-size: 24px;
    }
    
    h2 {
        font-size: 24px;

    }

    .header {
        background-size: 100vw;
    }

    .d1 {
        padding-top: 50px;
        padding-left: 20px;
    }

    .header p {
        font-size: 12px;
    }
    
    .arrow1 {
        padding-top: 70px;
    }

    .products {
        height: 700px;
        padding-right: 50px;
        padding-left: 0;
        text-align: left;
        background-position-y: -30px;
    }

    .bottle img{
        width: 70px;
        margin-top: 70px;
    }

    .text {
        font-size: 12px;
    }

    .about {
        font-size: 9px;
    }

    footer {
        padding-top: 30px;
    }

    footer p {
        font-size: 18px;
    }

    .info {
        padding-top: 50px;
        font-size: 9px;
        padding-bottom: 10px;
    }
}
      